<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/login.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
    <div class="jumbotron text-center mb-0" id="header">
        <h1>SM</h1>
        <p>- SWING MASTER -</p>
    </div>
    <nav class="navbar navbar-expand-sm navber-dark bg-dark">
        <a href="{% url 'index' %}" class="navbar-brand">Introduce</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavber">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavber">
            <ul class="navbar-nav">
                <li class="nav-item"><a href="{% url 'video' %}" class="nav-link">Video Recording</a></li>
                <li class="nav-item"><a href="{% url 'result' %}" class="nav-link">Result & Feedback</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endif %}

        <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            <h1>Login</h1>

            <div class="form-group">
                <label for="username">아 이 디</label>
                <input type="text" id="username" name="username" placeholder="아 이 디">
            </div>
            
            <div class="form-group">
                <label for="password">비 밀 번 호</label>
                <input type="password" id="password" name="password" placeholder="비 밀 번 호">
            </div>
            
            <button type="submit" class="btn btn-primary">로 그 인</button>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>